*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.015),rgba(4, 9, 30, 0.012)),url(images/l.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about{
    width: 80%;
}

h1{
    color: antiquewhite;
}

nav{
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;   
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 0px 18px;
     position: relative;
}
.nav-links ul li a{
    color: rgb(248, 238, 246);
    text-decoration: none;
    font-size: 36px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #ebe5e9;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}


@media(max-width: 850px)
{
    nav img{
        width: 170px; 
        margin-left: -15px;
    }
    
    .nav-links ul li{
        display: block;
    }

    .h1{
        font-size: 35px;
    }
    .p{
        font-size: 25px;
    }

    .nav-links{
        position: absolute;
        background: #bce7e7b2;
        opacity: 98.5%;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        opacity: 100%;
        color: rgb(230, 240, 240);
        margin: 30px;
        font-size: 26px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 20px;
    }
}

/* collection css */

.collection{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

h1{
    font-size: 80px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 40px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.row{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.collection-col{
    flex-basis: 32%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.collection-col img{
    width: 100%;
    display: block;
}

.collection h1{
    color: rgb(235, 143, 235);
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(231, 170, 227, 0.7);

}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 45px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.7s;
}

.layer:hover h3{
bottom: 49%;
opacity: 1;
}

@media(max-width: 850px){
    .row{
        flex-direction: column;
    }
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 100; 
    border: none;
    outline: none; 
    background-color: rgb(197, 130, 186); 
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
  }
  
#myBtn:hover {
    background-color: rgb(22, 204, 236); 
  }


  .footer{
    background-color: rgba(226, 151, 214, 0.699);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.footer p{
    font-size: 30px;
}

.icons{
color: rgb(19, 36, 41);
font-size: 30px;
}


.footer h1{
    font-size: 30px;
}

<style>
    .blue-color {
        color:blue;
    }
     
    .green-color {
        color:green;
    }
     
    .teal-color {
        color:teal;
    }
     
    .yellow-color {
    color:yellow;
    }
    
    .red-color {
        color:red;
    }
   </style>
    
    <span class="bi bi-cart blue-color"> </span>
    <span class="bi bi-cart green-color"> </span>
    <span class="bi bi-cart teal-color"> </span>
    <span class="bi bi-cart yellow-color"> </span>
    <span class="bi bi-cart red-color"> </span>
